<h1>Scanning Analysis: Web Proxy</h1>

<h2>Overview</h2>

<p>All these scan attempts result in 400 (the request had bad syntax or was inherently impossible to be satisfied) or 404 (the server has not found anything matching the URI given) error responses from the web server - ie. these scans failed.</p>

<h3>Wantsfly</h3>

<p>The Wantsfly URLs contain the hash value FABB83E72D135F1018046CC4005088B36F8D0BEDCEA7. This hash value is probably being used as a session value by the proxy scanner. Googling suggests that this is Chinese proxy scanner.</p>

<p>All these scans originate from the 123.4.59.0/32, 123.11.240.130 and 125.45.106.0/24 range of IP addresses. According to <%= link_to "What is my IP address?", "http://whatismyipaddress.com" %>, all these IP addresses originate from China and are present on the following blacklists:
	<ul>
		<li><%= link_to "Barracuda Reputation Block List", "http://whatismyipaddress.com/blacklist/barracudacentral" %>
		<li><%= link_to "Spamhaus Policy Blacklist", "http://whatismyipaddress.com/blacklist/spamhaus" %>
		<li><%= link_to "Fabel Spamsources", "http://whatismyipaddress.com/blacklist-details?dnsbl=spamsources.fabel.dk" %></li>
		<li><%= link_to "Blackholes Five 10 SG", "http://whatismyipaddress.com/blacklist/five-ten-sg" %></li>
		<li><%= link_to "No More Funn", "http://whatismyipaddress.com/blacklist-details?dnsbl=no-more-funn.moensted.dk" %></li>
		<li>dev.null.dk</li>
	</ul>
</p>

<h3>Proxyfire</h3>

<p>Using the requested URL, we have that the web site <%= link_to "Proxyfire", "http://www.proxyfire.net" %> appears to be a forum listing various proxies and discussing proxy related issues.</p>

<p>Most of these scans originate from the IP address 221.192.199.35. According to <%= link_to "What is my IP address?", "http://whatismyipaddress.com" %>, this IP addresses originates from China and is present on the following blacklists:
	<ul>
		<li><%= link_to "Blackholes Five 10 SG", "http://whatismyipaddress.com/blacklist/five-ten-sg" %></li>
		<li><%= link_to "No More Funn", "http://whatismyipaddress.com/blacklist-details?dnsbl=no-more-funn.moensted.dk" %>
	</ul>
	In addition, we have one Proxyfire scan from the IP address 61.183.15.9. According to <%= link_to "What is my IP address?", "http://whatismyipaddress.com" %>, this IP addresses originates from China and is present on the following blacklists:
	<ul>
		<li><%= link_to "Fabel Spamsources", "http://whatismyipaddress.com/blacklist-details?dnsbl=spamsources.fabel.dk" %></li>
		<li><%= link_to "Blackholes Five 10 SG", "http://whatismyipaddress.com/blacklist/five-ten-sg" %></li>
		<li><%= link_to "No More Funn", "http://whatismyipaddress.com/blacklist-details?dnsbl=no-more-funn.moensted.dk" %></li>
		<li>dev.null.dk</li>
	</ul>
</p>

<h3>Miscellaneous</h3>

<p>We have one proxy scan from 221.194.47.162. According to <%= link_to "What is my IP address?", "http://whatismyipaddress.com" %>, this IP addresses originates from China and is present on the following blacklists:
	<ul>
		<li><%= link_to "Blackholes Five 10 SG", "http://whatismyipaddress.com/blacklist/five-ten-sg" %></li>
		<li><%= link_to "No More Funn", "http://whatismyipaddress.com/blacklist-details?dnsbl=no-more-funn.moensted.dk" %></li>
	</ul>
</p>

<h2>Appendix</h2>

<h3>Log Events tagged with proxy,scan</h3>

<script type="text/javascript+protovis">
	<%= render :partial => 'report/graph/spark.js' %>
</script>
<pre>
<% @log_events.tagged_with(["proxy", "scan"]).order(:observed_at).all.each do |event| %>
<%=raw event.to_html(@log_events) %>
<% end %>
</pre>
