<h1>Log Event Analysis of File System</h1>

<h2>Overview</h2>

<p>A Collection of Example Graphs of our File System</p>

<%
def walk_tree(node)
	if node.leaf?
		"'#{node.name}': #{node.log_events.map { |d| d.bytes }.max}"
	else
		"'#{node.name}': { #{node.children.map { |n| walk_tree n }.join(", ")} }"
	end
end
%>

<% FileObject.roots.each do |root| %>
<h3>TreeMap</h3>
	<script type="text/javascript+protovis">	
		var data = { <%= walk_tree(root) %> };
		
		<%= render :partial => 'graph/treemap.js' %>
	
		vis.render();
	</script>
<h3>Adjacency Matrix</h3>
	<script type="text/javascript+protovis">	
		var data = { 
				nodes: [
<%= root.self_and_descendants.all.map { |d| "					{ nodeName: '#{d.name}', nodeId: #{d.id-1} }" }.join(",\n") %>
				],
		 		links: [
<%= root.descendants.all.map { |d| "					{ source: #{d.parent.id-1}, target: #{d.id-1}, value: #{(d.log_events.map { |n| n.bytes }.max || 0)} }" }.join(",\n") %>
				]
			};
		
		<%= render :partial => 'graph/matrix.js' %>
		
		layout.directed(true);
	
		vis.render();
	</script>
<h3>File System Hierarchy</h3>
	<script type="text/javascript+protovis">	
		var root = "$WEB_ROOT";
		var data = { <%= walk_tree(root) %> };
		
		<%= render :partial => 'graph/dendrogram.js' %>
		
		vis.left(80)
		   .width(650)
		   .height(800);
	
		vis.render();
	</script>
<h3>Sunburst Graph scaled with File Size (bytes)</h3>
	<script type="text/javascript+protovis">	
		var root = "$WEB_ROOT";
		var data = { <%= walk_tree(root) %> };
		
		<%= render :partial => 'graph/sunburst.js' %>
	
		vis.render();
	</script>
<h3>Circle Packing Graph scaled with File Size (bytes)</h3>
	<script type="text/javascript+protovis">	
		var root = "$WEB_ROOT";
		var data = { <%= walk_tree(root) %> };
		
		<%= render :partial => 'graph/circle_packing.js' %>
	
		vis.render();
	</script>
<% end %>