<h1>Log Event Analysis of HTTP Sessions</h1>

<h2>Overview</h2>

<p>??</p>

<%
def walk_tree(node)
	if node.root? and node.leaf?
		"'#{node.http[:verb]} #{node.http[:uri]} #{node.pid} #{node.thread_index}': #{node.result}"
	elsif node.leaf?
		"'#{node.http[:verb]} #{node.http[:uri]} #{node.pid} #{node.thread_index}': #{node.result}"
	else
		"'#{node.http[:verb]} #{node.http[:uri]} #{node.pid} #{node.thread_index}': { #{node.children.map { |n| walk_tree n }.join(", ")} }"
	end
end
%>
<% @log_events.order(:observed_at).all.select { |d| d.root? }.each do |root| %>
	<script type="text/javascript+protovis">	
		var root = "<%= root.observed_at %>";
		var data = { '<%= root.remote %>': { <%= walk_tree(root) %> } };
		
		<%= render :partial => 'report/graph/dendrogram.js' %>
		
		vis.left(150)
		   .right(500)
		   .width(650)
		   .height(<%= root.self_and_descendants.count %> * 10);
		
		dot.fillStyle(function(n) n.firstChild ? "#aec7e8" : pv.Scale.linear(200, 300, 400, 600).range('green', 'yellow', 'red', 'black')(n.nodeValue));
	
		vis.render();
	</script>
<% end %>
