<h1>WordPress Plugin Analysis: Contact Form 7</h1>

<h2>Overview</h2>

<p>By examining the <i>ver</i> parameter string for log entries tagged with <%= link_to "contact-form-7", "/report/by?tagged=contact-form-7" %>, we are able to extract version 2.1.1 for the WordPress plugin Contact Form 7.</p>

<p>By examining the URL's of the log entries tagged with <%= link_to "contact-form-7", "/report/by?tagged=contact-form-7" %> and Googling with the keywords <%= link_to "wordpress plugin contact-form-7", "http://google.co.uk/search?q=wordpress+plugin+contact-form-7" %>, we are able to locate and download version 2.1.1 of <%= link_to "Contact Form 7", "http://wordpress.org/extend/plugins/contact-form-7/" %>.</p>

<p>Plotting a bar graph of plugin file and URL file against number of bytes in the respective file (see below), allows a cross-view analysis to be performed. This analysis shows that the files:
	<ul>
		<% ["contact-form-7/styles.css", "contact-form-7/scripts.js"].each do |filename| %>
			<li><i>/wp-content/plugins/<%= filename %></i></li>
		<% end %>
	</ul>
have sizes consistent with the downloaded plugin - unit testing further confirms this assertion.
</p>

<h2>file size (bytes) vs. plugin/URL file (file names)</h2>

<% archive_data = ContactForm7.where(:directory => false).select([:name, :size]).all %>
<% log_event_sizes = archive_data.map { |d| @log_events.url("/wp-content/plugins/#{d.name}").where(:result => 200).get.maximum(:bytes) || 0 } %>
<script type="text/javascript+protovis">
	var labels = <%=raw archive_data.map { |d| d.name }.to_json %>;
	var data = <%=raw archive_data.map { |x| x.size}.zip(log_event_sizes).to_json %>;
	
	<%= render :partial => 'report/graph/bar.js' %>

	vis.render();
</script>

<h2>Appendix</h2>

<h3>Log Events tagged with contact-form-7</h3>

<script type="text/javascript+protovis">
	<%= render :partial => 'report/graph/spark.js' %>
</script>
<pre>
<% @log_events.tagged_with("contact-form-7").order(:observed_at).all.each do |event| %>
  <%=raw event.to_html(@log_events) %>
<% end %>
</pre>
