<h1>WordPress Plugin Analysis: Easy Google Syntax Highlighter</h1>

<h2>Overview</h2>

<p>By examining the URL's of the log entries tagged with <%= link_to "google-syntax-highlighter", "/report/by?tagged=google-syntax-highlighter" %> and Googling with the keywords <%= link_to "wordpress plugin google-syntax-highlighter", "http://google.co.uk/search?q=wordpress+plugin+google-syntax-highlighter" %>, we are able to locate the <%= link_to "Easy Google Syntax Highlighter", "http://wordpress.org/extend/plugins/easy-google-syntax-highlighter/" %> plugin.</p>

<p>According to the <%= link_to "Easy Google Syntax Highlighter", "http://wordpress.org/extend/plugins/easy-google-syntax-highlighter/" %> plugin web page, this plugin was last updated on the 22<sup>nd</sup> October 2009. As a result, we are led to believe that this plugin is probably at version 1.2.1 since all our logged events occur in the year 2010.</p>

<p>Using case-insensitive matching, no URLs that are tagged with google-syntax-highlighter size-match any of the URLs within version 1.2.1 of the downloaded <%= link_to "Easy Google Syntax Highlighter", "http://wordpress.org/extend/plugins/easy-google-syntax-highlighter/" %> plugin (see graph below). As a result, it is unlikely that this plugin has been used.</p>

<h2>plugin file and URL file (file names) vs. file size (bytes)</h2>

<% archive_data = EasyGoogleSyntaxHighlighter.where(:directory => false).select([:name, :size]).all %>
<% log_event_sizes = archive_data.map { |d| @log_events.url("/wp-content/plugins/#{d.name[("easy-".size)..-1]}").where(:result => 200).get.maximum(:bytes) || 0 } %>
<script type="text/javascript+protovis">
	var labels = <%=raw archive_data.map { |d| d.name }.to_json %>;
	var data = <%=raw archive_data.map { |x| x.size}.zip(log_event_sizes).to_json %>;
	
	<%= render :partial => 'report/graph/bar.js' %>

	vis.render();
</script>

<h2>Appendix</h2>

<h3>Log Events tagged with google-syntax-highlighter</h3>

<%= render :partial => 'appendix', :locals => { :log_events => @log_events.tagged_with("google-syntax-highlighter") } %>
