<% eid = (rand*(10**17)).to_i -%>
<script type="text/javascript+protovis">
	var data = <%=raw timeline.data.to_json %>;
	var events = <%=raw timeline.events.map { |d| { :observed_at => d[:observed_at], :id => d[:id], :type => d[:type] } }.to_json %>;
	var events_id = "events_<%= eid %>";
	
	<%= render :partial => '/graph/timeline.js' %>
	<%= yield %>
	vis.render();
	var vis_<%= eid %> = vis;
</script>
<div id='events_<%= eid %>' class='events timeline'>
<% timeline.events.each do |line| -%>
	<div id='<%= line[:type] %><%= line[:id] %>' class='event' observed_at='<%= line[:observed_at] %>'><%= line[:event] %></div>
<% end -%>
</div>
<script>
	var delta = 10*60; // ±10 minutes
	document.observe("dom:loaded", function() {
		var start = $("events_<%= eid %>").childElements().first().readAttribute("observed_at");
		$("events_<%= eid %>").childElements().forEach(function(e) {
			if (start - delta <= e.readAttribute("observed_at") && e.readAttribute("observed_at") <= start + delta) {
				e.writeAttribute('highlight', 'true');
			}
		});
	});
	$("events_<%= eid %>").observe('timeline:position', function(event) {
		var lineHeight = this.scrollHeight/this.childElementCount;
		var index = this.childElements().indexOf($(event.memo.event_type+event.memo.event_id));
		this.scrollTop = lineHeight*index;
		this.childElements().forEach(function(e) {
			e.writeAttribute('highlight', 'false');
			if (event.memo.observed_at - delta <= e.readAttribute("observed_at") && e.readAttribute("observed_at") <= event.memo.observed_at + delta) {
				e.writeAttribute('highlight', 'true');
			}
		});
	});
	<% timeline.events.each do |line| -%>
	$("events_<%= eid %>").down("#<%= line[:type] %><%= line[:id] %>").observe('dblclick', function(event) {
		vis_<%= eid %>.i(dates(<%= line[:observed_at] %>));
		$("events_<%= eid %>").fire("timeline:position", { 'observed_at': <%= line[:observed_at] %>, 'event_type': "<%= line[:type] %>", 'event_id': <%= line[:id] %> });
        vis_<%= eid %>.render();
	});
	<% end -%>
</script>
