<% eid = (rand*(10**17)).to_i -%>
<script type="text/javascript+protovis">
	var data = <%=raw timeline.data.to_json %>;
	var events = <%=raw timeline.events.map { |d| { :observed_at => d.observed_at.to_i, :id => d.id, :type => d.class.table_name } }.to_json %>;
	var events_id = "events_<%= eid %>";
	
	<%= render :partial => '/graph/timeline.js' %>
	<%= yield %>
	vis.render();
	var vis_<%= eid %> = vis;
</script>
<div id='events_<%= eid %>' class='events timeline'>
<% timeline.events.each do |event| -%>
	<div id='<%= event.class.table_name %><%= event.id %>' class='event' observed_at='<%= event.observed_at.to_i %>'><%= render :partial => 'event', :object => event, :locals => { :tags => tags } %></div>
<% end -%>
</div>
<script>
	var delta = 10*60; // ±10 minutes
	document.observe("dom:loaded", function() {
		var start = $("events_<%= eid %>").childElements().first().readAttribute("observed_at");
		$("events_<%= eid %>").childElements().forEach(function(e) {
			if (start - delta <= e.readAttribute("observed_at") && e.readAttribute("observed_at") <= start + delta) {
				e.writeAttribute('highlight', 'true');
			}
		});
	});
	$("events_<%= eid %>").observe('timeline:position', function(event) {
		var lineHeight = this.scrollHeight/this.childElementCount;
		var index = this.childElements().indexOf($(event.memo.event_type+event.memo.event_id));
		this.scrollTop = lineHeight*index;
		this.childElements().forEach(function(e) {
			e.writeAttribute('highlight', 'false');
			if (event.memo.observed_at - delta <= e.readAttribute("observed_at") && e.readAttribute("observed_at") <= event.memo.observed_at + delta) {
				e.writeAttribute('highlight', 'true');
			}
		});
	});
	<% timeline.events.each do |event| -%>
	$("events_<%= eid %>").down("#<%= event.class.table_name %><%= event.id %>").observe('dblclick', function(event) {
		vis_<%= eid %>.i(dates(<%= event.observed_at.to_i %>));
		$("events_<%= eid %>").fire("timeline:position", { 'observed_at': <%= event.observed_at.to_i %>, 'event_type': "<%= event.class.table_name %>", 'event_id': <%= event.id %> });
        vis_<%= eid %>.render();
	});
	<% end -%>
</script>
