<h1>Partial Analysis of <%= link_to "santized_log.zip", "http://honeynet.org/challenges/2010_5_log_mysteries" %></h1>

<h2>Analysis Environment</h2>

<p><%= link_to "Ubuntu 10.04", "http://acme-labs.org.uk/teaching/huddersfield/current/vmware/" %> virtual machine.</p>

<h2>Contents</h2>

<ul>
<li>Research
<ul>
	<li><%= link_to "Wordpress", "/report/by?tagged=wordpress" %>
		<ul>
			<li><%= link_to "Blog", "/report/wordpress/core" %>
			<li>Plugins
				<ul>
					<li><%= link_to "Contact Form 7", "/report/wordpress/plugin/contact-form-7" %></li>
					<li>Google Syntax Highlighter
						<ul>
							<li><%= link_to "Google Syntax Highlighter", "/report/wordpress/plugin/google-syntax-highlighter" %></li>
							<li><%= link_to "Easy Google Syntax Highlighter", "/report/wordpress/plugin/easy-google-syntax-highlighter" %></li>
						</ul>
					</li>
					<li><%= link_to "Google Analyticator", "/report/wordpress/plugin/google-analyticator" %></li>
				</ul>
			</li>
		</ul>
	</li>
	<li><%= link_to "RSS News Feed", "/report/by?tagged=rss" %> Analysis for:
		<ul>
			<li><%= link_to "10.0.1.2", "/report/web_server/rss/10.0.1.2" %></li>
			<li><%= link_to "208.80.69.74", "/report/web_server/rss/208.80.69.74" %></li>
			<li><%= link_to "65.88.2.5", "/report/web_server/rss/65.88.2.5" %></li>
			<li><%= link_to "76.191.195.140", "/report/web_server/rss/76.191.195.140" %></li>
		</ul>
	</li>
	<li><%= link_to "Scanning", "/report/by?tagged=scan" %> Analysis:
		<ul>
			<li><%= link_to "World of Warcraft", "/report/scan/world-of-warcraft" %></li>
			<li><%= link_to "Proxy", "/report/scan/proxy" %></li>
			<li><%= link_to "Port 6677", "/report/scan/port-6677" %></li>
			<li><%= link_to "Port 6667", "/report/scan/port-6667" %></li>
		</ul>
	</li>
	<li><%= link_to "Web Bot", "/report/by?tagged=bot" %> Analysis:
		<ul>
			<li><%= link_to "NaverBot", "/report/bot/naverbot" %></li>
		</ul>
	</li>
</ul>
</li>
<li>Data Analysis
<ul>
	<li><%= link_to "unknown attribute", "/report/log_events/unknown" %></li>
	<li><%= link_to "processes", "/report/log_events/process" %></li>
	<li><%= link_to "file system", "/report/log_events/file_system" %></li>
</ul>
</li>
</ul>

<h2>Overview</h2>

<p>A visual examination of www-access.log and www-media.log suggests that we should initially group the data by: the remote IP address; and the user agent string (see the timeline below). Using this grouping of our data, we may then tag (see lib/tasks/tag_log_events.rake) Log Entry instances based on their observed interactions with our web server. The top-level links within our research section above represent the results of this analysis.</p>

<p>www-access.log holds access information for each page that a client requests, whilst www-media.log holds access information for the resources on each page requested.</p>

<h2>Timeline (Based on Data Analysis)</h2>

<% data = [] %>
<% data << { :label => "10.0.1.14: POST /wp-cron.php?doing_wp_cron", :timeline => @log_events.ip_address("10.0.1.14").tagged_with("wordpress").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "10.0.1.2: Apple-PubSub", :timeline => @log_events.ip_address("10.0.1.2").tagged_with("rss").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "10.0.1.2: OSX 10.6; Firefox 3.6.3", :timeline => @log_events.ip_address("10.0.1.2").user_agent("Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.6; en-US; rv:1.9.2.3) Gecko/20100401 Firefox/3.6.3").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "10.0.1.2: OSX 10.6; Safari 4.0.5", :timeline => @log_events.ip_address("10.0.1.2").user_agent("Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_6_2; en-us) AppleWebKit/531.22.7 (KHTML, like Gecko) Version/4.0.5 Safari/531.22.7").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "65.88.2.5: Apple-PubSub", :timeline => @log_events.ip_address("65.88.2.5").tagged_with("rss").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "65.88.2.5: OSX 10.6; Firefox 3.6.3", :timeline => @log_events.ip_address("65.88.2.5").user_agent("Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10.6; en-US; rv:1.9.2.3) Gecko/20100401 Firefox/3.6.3").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "208.80.69.74: Apple-PubSub", :timeline => @log_events.ip_address("208.80.69.74").tagged_with("rss").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "208.80.69.69: OSX 10.6; Safari 4.0.4", :timeline => @log_events.ip_address("208.80.69.69").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "76.191.195.140: Apple-PubSub", :timeline => @log_events.ip_address("76.191.195.140").tagged_with("rss").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "123.4.59.174: Windows XP; IE 6.0", :timeline => @log_events.ip_address("123.4.59.174").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "125.45.106.180: Windows XP; IE 6.0", :timeline => @log_events.ip_address("125.45.106.180").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "123.4.59.21: Windows XP; IE 6.0", :timeline => @log_events.ip_address("123.4.59.21").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "125.45.106.168: Windows XP; IE 6.0", :timeline => @log_events.ip_address("125.45.106.168").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "123.4.42.80: Windows XP; IE 6.0", :timeline => @log_events.ip_address("123.4.42.80").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "123.11.240.130: Windows XP; IE 6.0", :timeline => @log_events.ip_address("123.11.240.130").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "123.4.51.181: Windows XP; IE 6.0", :timeline => @log_events.ip_address("123.4.51.181").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "190.167.70.87: Windows XP; Chrome 4.1.249.1045", :timeline => @log_events.ip_address("190.167.70.87").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "190.166.87.164: Windows XP; Chrome 4.1.249.1059", :timeline => @log_events.ip_address("190.166.87.164").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "201.229.176.217: Windows XP; Firefox 3.0.19", :timeline => @log_events.ip_address("201.229.176.217").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "Naverbot", :timeline => @log_events.tagged_with("bot").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "World of Warcraft Scanning", :timeline => @log_events.tagged_with("world-of-warcraft,scan").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "Proxy Scanning", :timeline => @log_events.tagged_with("proxy,scan").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "Port 6677 Scanning", :timeline => @log_events.tagged_with("port-6677,scan").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>
<% data << { :label => "Port 6667 Scanning", :timeline => @log_events.tagged_with("port-6667,scan").order(:observed_at).all.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "Server Loading Estimate", :timeline => @log_events.ip_address("10.0.1.2").tagged_with("rss").order(:observed_at).all.select { |d| d.processing_time >= 3*(10**6) }.map { |d| { :begin => d.observed_at.to_f, :end => d.observed_at.to_f+(d.processing_time.to_f/(10**6)) } } } %>

<% data << { :label => "Apache2 Start Times", :timeline => Sudo.apache_timeline_starts } %>
<% data << { :label => "Apache2 Stop Times", :timeline => Sudo.apache_timeline_ends } %>

<script type="text/javascript+protovis">
	var data = <%=raw data.to_json %>;

	<%= render :partial => 'report/graph/timeline.js' %>

	vis.render();
</script>
