<% content_for :title do %>
	Proportion of Wordpress Events with a version Parameter
<% end %>

<% content_for :data do %>
	<script>
		var raw_data = <%=raw @data.to_json %>;
	</script>
<% end %>

<% content_for :note do %>
	<center>
	<script type="text/javascript+protovis">
		var root = "Wordpress version";
		var data = pv.nest(raw_data).key(function(d) d.version).key(function(d) d.http_url).rollup(function(v) v.length);
		
		<%= render :partial => '/graph/sunburst.js' %>
		
		var radius = 500;
		
		vis.width(2*radius).height(2*radius).bottom(0);
	
		wedge.fillStyle(pv.Colors.category19().by(function(d) d.parentNode && d.parentNode.nodeName));
		
		vis.render();
	</script>
	</center>
	
	<p>From the above sunburst chart we have that:
		<ul>
			<li>Wordpress appears to be at version 2.9.2</li>
			<li>the Wordpress plugin Contact Form 7 appears to be at version 2.1.1</li>
			<li>the Wordpress plugin Google Analyticator appears to be at version 6.0.2</li>
			<li>Wordpress appears to use version 1.3.2 of JQuery (this is consistent with the version of <%= github_link "evidence/wordpress/wp-includes/js/jquery/jquery.js", "JQuery" %> found within version 2.9.2 of Wordpress)</li>
			<li>Wordpress appears to use version 2.02m of the JQuery Form library (this is consistent with the use of the minimised version of <%= github_link "evidence/wordpress/wp-includes/js/jquery/jquery.form.js", "JQuery Form" %> found within version 2.9.2 of Wordpress - according to the development version of <%= github_link "evidence/wordpress/wp-includes/js/jquery/jquery.form.dev.js", "JQuery Form" %>, we are at version 2.02 so one presumes the <i>m</i> indicates a minimised Javascript library)</li>
		</ul>
	</p>
<% end %>