<!DOCTYPE html>
<html>
<head>
  <title>Answer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "protovis-d3.2.js" %>
  <%= csrf_meta_tag %>
</head>
<body>

	<%= yield :title if content_for?(:title) %>

	<%= yield :data if content_for?(:data) %>
	
	<% if content_for?(:note) %>
		<%= yield :note %>
	<% end %>
</body>
</html>
