<!DOCTYPE html>
<html>
<head>
  <title>Answer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, "protovis-d3.2.js", "countries.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
	<h1><%= yield :title %></h1>

	<b>Tags:</b> <%=raw (yield :tags).strip.split(",").map { |t| link_to(t, "/research/by?tagged=#{t}") }.join(", ") %>
	
	<%= yield :data if content_for?(:data) %>
	
	<h2>Description</h2>
	
	<%= yield :note %>
	
	<h2>Appendix</h2>
	
	<div class="tabs">
	< % tabs_tag do |tab| %>
		< %= tab.data 'Data Set (CSV)', "?appendix_tab=data" %>
		< %= tab.carving 'Carving Code', "?appendix_tab=carving" %>
		< %= tab.tagging 'New Tags (CSV)', "?appendix_tab=tagging" %>
	< % end %>
	</div>
	
	<ul>
		<li>
		<%= link_to "Data Set (CSV)", "/research/#{"#{@url}/" unless @url.nil?}#{@label}.csv" %><br />
		<b>Verification Code:</b>
		<pre>
<%= display "csv/#{@label}_test.rb" %>
		</pre>
		</li>
		<li>
		<b>Carving Code:</b>
		<pre>
<%= display "tag/#{@label}.rake" %>
		</pre>
		</li>
		<li>
		<%= link_to "New Tags (CSV)", "/research/by.csv?tagged=#{(yield :tags).strip}" %><br />
		<b>Verification Code:</b>
		<pre>
<%= display "tag/#{@label}_test.rb" %>
		</pre>
		</li>
	</ul>
</body>
</html>
